TELEGRAM_TOKEN=isi_token_bot_telegram_anda_disini
AWS_ACCESS_KEY_ID=isi_aws_access_key_anda
AWS_SECRET_ACCESS_KEY=isi_aws_secret_key_anda
AWS_REGION=us-west-2
BEDROCK_MODEL_ID=qwen.qwen3-235b-a22b-2507
